# Introducción a R

## Operando con números

El procedimiento más básico que podemos realizar con R es utilizarlo como una calculadora en donde los operadores `+`, `-`, `*` o `/` pueden ser utilizados para operar sobre números, como también podemos utilizar paréntesis redodondos `()` tal como lo hacemos en álgebra. Al ejecutar la operación, se retornará el resultado.

In [1]:
2 + 2

[1] 4

In [2]:
2 * 3

[1] 6

In [3]:
2 * 3 - 2

[1] 4

In [4]:
2 * ( 3 - 2 )

[1] 2

## Variables y tipos de datos

Una variable está formada un espacio que podemos utilizar en la memoria del computador para almacenar un valor y este espacio de memoria le podemos asignar un nombre simbólico o al que nos referiremos como nombre de la variable.

In [5]:
# Este es un comentario y en la línea de abajo tenemos el nombre de la variable junto con su valor.
number = 1
number

[1] 1

A una variable le podemos asignar distintos tipos de datos, los más básicos en R son:
* `character`: Una cadena de caracteres. Podemos darnos cuenta que una variable es de este tipo, porque siempre estará entre comillas (`'foo'`).
* `numeric`: Un número que puede ser entero o decimal.
* `logical`: Un valor dicotómico (`TRUE`, `FALSE`)

In [6]:
the_character = "foo"

Cuando le asignamos un valor a una variable R no retornará nada hasta que nosotros llamemos a la misma.

In [7]:
# Estoy llamando a la variable.
the_character

[1] "foo"

In [8]:
# Una variable del tipo character no es exclusivo para letras.
also_character = '11'
also_character

[1] "11"

In [9]:
# Esta variable es de la clase numeric.
the_numeric = 11
the_numeric

[1] 11

In [10]:
also_numeric = 11.1
also_numeric

[1] 11.1

In [11]:
# Atención a que la variable logical sólo recibe los valores TRUE o FALSE, exactamente en mayúsculas
# y sin comillas
the_logical = TRUE
the_logical

[1] TRUE

In [12]:
also_logical = FALSE
also_logical

[1] FALSE

## Operadores relacionales y lógicos

Los operadores relacionales son símbolos que se utilizan para comparar dos valores. Estos operadores devuelven un objeto de clase `logical` y el cual es `TRUE` cuando la relación es verdadera y `FALSE` cuando la relación es falsa.

Algunos operadores relacionales son los siguientes:
* `==`: Devuelve `TRUE` cuando ambos valores son iguales.
* `!=`: Devuelve `TRUE` cuando ambos valores son distintos.
* `>`: Devuelve `TRUE` cuando el valor a la izquierda es mayor al de la derecha.
* `>=`: Devuelve `TRUE` cuando el valor a la izquierda es mayor o igual al de la derecha.

In [13]:
# Esto es verdadero.
0 < 1

[1] TRUE

In [14]:
# Esto es falso.
0 > 1

[1] FALSE

In [15]:
# Atención, aquí se usa doble signo igual, no como cuando definimos una variable donde utilizamos sólo un signo igual.
0 == 0

[1] TRUE

In [16]:
0 != 0

[1] FALSE

In [17]:
'a' != 'b'

[1] TRUE

In [18]:
'a' == 'b'

[1] FALSE

In [19]:
# Prueben más relaciones, a veces los resultados son intuitivos, otras veces no.
'a' < 'b'

[1] TRUE

In [20]:
# Mucho cuidado con los operadores relacionales, a veces no se comportan como lo esperamos.
'1' == 1

[1] TRUE

Los operadores lógicos, similar a los relacionales, sirven para comparar valores `logical`. Estos operadres también devuelven un objeto del tipo `logical`.

Estos operadores son:
* `|`: Este operador `or` devuelve `TRUE` cuando uno o ambos valores son `TRUE`.
* `&`: Este operador `and` devuelve `TRUE` cuando ambos valores son `TRUE`.
* `!`: Este operador invierte el valor lógico que está a su derecha.

In [21]:
TRUE | TRUE

[1] TRUE

In [22]:
TRUE | FALSE

[1] TRUE

In [23]:
FALSE | FALSE

[1] FALSE

In [24]:
FALSE & TRUE

[1] FALSE

In [25]:
TRUE & TRUE

[1] TRUE

In [26]:
FALSE & FALSE

[1] FALSE

In [27]:
!TRUE

[1] FALSE

In [28]:
# La primera relación es verdadera y la segunda es falsa.
# Esto va a ser útil cuando después queramos componer varias condiciones para filtrar una estructura de datos.

0 < 1 & 0 > 1

[1] FALSE

In [29]:
# Ambas relaciones son verdaderas. Además podemos agregar paréntesis para visualizarlo mejor
(0 < 1) & (2 > 1)

[1] TRUE

In [30]:
# Este es exactamente el mismo ejemplo anterior, pero se invirtió el valor lógico de la primera relación.
!(0 < 1) & (2 > 1)

[1] FALSE

## Estructuras de datos

Cuando necesitamos tratar a un conjunto de datos aislados como uno sólo, podemos utilizar estructuras de datos. Las estructuras de datos básicas en R son:
* `vector`: Un conjunto unidimensional de datos de la misma clase.
* `matrix`: Un conjunto bidimensional de datos de la misma clase.
* `data frame`: Conjunto bidimensional de datos, donde cada columna puede contener datos de distintas clases y además una de las ventajas es que por defecto podemos añadir un nombre a cada columna (esto se verá con mas detalle en la siguiente clase).

Para inicializar un vector podemos hacerlo con la función `c()`, la cual concatena todos los elementos contenidos en los parametros que le pasemos.

In [31]:
# Este es un vector de números.
the_vector = c(120,121,125,130,119,88,135,85,118,132,125,81,120,150,115,140,120)
the_vector

 [1] 120 121 125 130 119  88 135  85 118 132 125  81 120 150 115 140 120

In [32]:
# Si a la función le pasamos elementos de distinta clase, todos se convertirán a character
c(1,2,"a")

[1] "1" "2" "a"

Para acceder a un elemento o un grupo de elementos específico dentro de un vector, podemos utilizar el índice o índices de los elementos dentro de paréntesis cuadrados `[]`. Los índices parten desde el 1, distinto a otros lenguajes de programación, como por ejemplo en `Python`, donde se parte desde el 0.

In [33]:
the_vector[1]

[1] 120

In [34]:
the_vector[0]

numeric(0)

In [35]:
# Para acceder a más de un elemento podemos utilizar un vector de índices.
the_vector[c(1,8)]

[1] 120  85

In [36]:
# También podemos acceder a los valores del vector con un vector de valores lógicos.
# Una intuición de esto es que estamos encendiendo o apagando valores en el vector.
the_vector[c(TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE)]

[1] 120 120

Cuando necesitemos estructurar nuestros datos de manera bidimensional, podemos utilizar la función `matrix()`, de manera similar a la función `c()`. La función `matrix()` nos devolverá un objeto de la clase `matrix`.

La función `matrix()` recibe un vector y además podemos especificar el parámetro `ncol` o `nrow` para especificar el número de columnas o filas que debe tener la matriz.

In [37]:
matrix(c(1,2,3,4,5,6),nrow=2)

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [38]:
# Inventamos un vector nuevo.
the_vector_2 = c(80 ,83, 87, 85, 74, 99, 78, 83, 90, 77, 76, 78, 86, 98, 78, 69, 65)
# Concatenamos con la función c() los 2 vectores que tenemos creados.
the_matrix = matrix(c(the_vector,the_vector_2),ncol=2)
the_matrix

      [,1] [,2]
 [1,] 120  80
 [2,] 121  83
 [3,] 125  87
 [4,] 130  85
 [5,] 119  74
 [6,]  88  99
 [7,] 135  78
 [8,]  85  83
 [9,] 118  90
[10,] 132  77
[11,] 125  76
[12,]  81  78
[13,] 120  86
[14,] 150  98
[15,] 115  78
[16,] 140  69
[17,] 120  65

De un objeto de la clase `matrix` podemos obtener una columna como un `vector`, una fila como un `vector` o un elemento en específico utilizando la siguiente sintaxis.

`matrix[ row, column ]`

In [39]:
# Seleccionando sólo la fila con el índice 2
# Atención con que se debe escribir la coma (,), pero se deja el valor de las columnas en blanco
the_matrix[2,]

[1] 121  83

In [40]:
# Seleccionando sólo la columna con el índice 2
the_matrix[,2]

 [1] 80 83 87 85 74 99 78 83 90 77 76 78 86 98 78 69 65

In [41]:
# Seleccionando el elemento en la columna 2 y la fila 2
the_matrix[2,2]

[1] 83