# Introducción a R

## Operando con números

El procedimiento más básico que podemos realizar con R es utilizarlo como una calculadora en donde los operadores `+`, `-`, `*` o `/` pueden ser utilizados para operar sobre números, como también podemos utilizar paréntesis redodondos `()` tal como lo hacemos en álgebra. Al ejecutar la operación, se retornará el resultado.

In [3]:
2 + 2

[1] 4

In [2]:
2 * 3

[1] 6

In [6]:
2 * 3 - 2

[1] 4

In [7]:
2 * ( 3 - 2 )

[1] 2

## Variables y tipos de datos

Una variable está formada un espacio que podemos utilizar en la memoria del computador para almacenar un valor y este espacio de memoria le podemos asignar un nombre simbólico o al que nos referiremos como nombre de la variable.

In [97]:
# Este es un comentario y en la línea de abajo tenemos el nombre de la variable junto con su valor.
number = 1
number

[1] 1

A una variable le podemos asignar distintos tipos de datos, los más básicos en R son:
* `character`: Una cadena de caracteres. Podemos darnos cuenta que una variable es de este tipo, porque siempre estará entre comillas (`'foo'`).
* `numeric`: Un número que puede ser entero o decimal.
* `logical`: Un valor dicotómico (`TRUE`, `FALSE`)

In [9]:
the_character = "foo"

Cuando le asignamos un valor a una variable R no retornará nada hasta que nosotros llamemos a la misma.

In [10]:
# Estoy llamando a la variable.
the_character

[1] "foo"

In [11]:
# Una variable del tipo character no es exclusivo para letras.
also_character = '11'
also_character

[1] "11"

In [15]:
# Esta variable es de la clase numeric.
the_numeric = 11
the_numeric

[1] 11

In [14]:
also_numeric = 11.1
also_numeric

[1] 11.1

In [16]:
# Atención a que la variable logical sólo recibe los valores TRUE o FALSE, exactamente en mayúsculas
# y sin comillas
the_logical = TRUE
the_logical

[1] TRUE

In [17]:
also_logical = FALSE
also_logical

[1] FALSE

## Estructuras de datos

Cuando necesitamos tratar a un conjunto de datos aislados como uno sólo, podemos utilizar estructuras de datos. Las estructuras de datos básicas en R son:
* `vector`: Un conjunto unidimensional de datos de la misma clase.
* `matrix`: Un conjunto bidimensional de datos de la misma clase.
* `data frame`: Conjunto bidimensional de datos, donde cada columna puede contener datos de distintas clases y además una de las ventajas es que por defecto podemos añadir un nombre a cada columna.

Para inicializar un vector podemos hacerlo con la función `c()`, la cual concatena todos los elementos contenidos en los parametros que le pasemos.

In [18]:
# Este es un vector de números.
vector = c(120,121,125,130,119,88,135,85,118,132,125,81,120,150,115,140,120)
vector

 [1] 120 121 125 130 119  88 135  85 118 132 125  81 120 150 115 140 120

In [19]:
# Si a la función le pasamos elementos de distinta clase, todos se convertirán a character
c(1,2,"a")

[1] "1" "2" "a"

Para acceder a un elemento o un grupo de elementos específico dentro de un vector, podemos utilizar el índice o índices de los elementos dentro de paréntesis cuadrados `[]`. Los índices parten desde el 1, distinto a otros lenguajes de programación, como por ejemplo en `Python`, donde se parte desde el 0.

In [20]:
vector[1]

[1] 120

In [22]:
vector[0]

numeric(0)

In [23]:
# Para acceder a más de un elemento podemos utilizar un vector de índices.
vector[c(1,8)]

[1] 120  85

Cuando necesitemos estructurar nuestros datos de manera bidimensional, podemos utilizar la función `matrix()`, de manera similar a la función `c()`. La función `matrix()` nos devolverá un objeto de la clase `matrix`.

La función `matrix()` recibe un vector y además podemos especificar el parámetro `ncol` o `nrow` para especificar el número de columnas o filas que debe tener la matriz.

In [29]:
matrix(c(1,2,3,4,5,6),nrow=2)

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [32]:
vector_2 = c(80 ,83, 87, 85, 74, 99, 78, 83, 90, 77, 76, 78, 86, 98, 78, 69, 65)
the_matrix = matrix(c(vector,vector_2),ncol=2)
the_matrix

      [,1] [,2]
 [1,] 120  80
 [2,] 121  83
 [3,] 125  87
 [4,] 130  85
 [5,] 119  74
 [6,]  88  99
 [7,] 135  78
 [8,]  85  83
 [9,] 118  90
[10,] 132  77
[11,] 125  76
[12,]  81  78
[13,] 120  86
[14,] 150  98
[15,] 115  78
[16,] 140  69
[17,] 120  65

In [87]:
TRUE

[1] TRUE

In [88]:
TRUE&TRUE

[1] TRUE

In [89]:
TRUE&FALSE

[1] FALSE

In [90]:
TRUE|FALSE

[1] TRUE

In [91]:
!TRUE

[1] FALSE

In [73]:
vector_high = vector>max_lim
vector_high

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE  TRUE FALSE  TRUE FALSE

In [77]:
vector_low = vector<min_lim
vector_low

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE
[13] FALSE FALSE FALSE FALSE FALSE

In [84]:
vector_normal = !vector_low&!vector_high
vector_normal

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE FALSE  TRUE  TRUE  TRUE FALSE
[13]  TRUE FALSE  TRUE FALSE  TRUE

In [79]:
vector_high_values = vector[vector_high]
vector_high_values

[1] 150 140

In [78]:
vector_low_values = vector[vector_low]
vector_low_values

[1] 88 85 81

In [85]:
vector_normal_values = vector[vector_normal]
vector_normal_values

 [1] 120 121 125 130 119 135 118 132 125 120 115 120

In [86]:
vector_abnormal_values = vector[!vector_normal]
vector_abnormal_values

[1]  88  85  81 150 140

In [106]:
n = length(vector)
n

[1] 17

In [109]:
vector_2 = rnorm(n,80,20)
vector_2

 [1]  70.22444 111.15901  59.01433  59.49473  44.97965  65.87777  57.21850
 [8] 120.58892 110.71370  59.71598  83.36219  72.82287 108.69102  53.49613
[15]  52.68299  96.62249 124.87524

In [114]:
matrix(c(1,2,3,4),ncol=2)

     [,1] [,2]
[1,] 1    3
[2,] 2    4

In [118]:
the_matrix = matrix(c(vector,vector_2),ncol=2)
the_matrix

      [,1] [,2]
 [1,] 120   70.22444
 [2,] 121  111.15901
 [3,] 125   59.01433
 [4,] 130   59.49473
 [5,] 119   44.97965
 [6,]  88   65.87777
 [7,] 135   57.21850
 [8,]  85  120.58892
 [9,] 118  110.71370
[10,] 132   59.71598
[11,] 125   83.36219
[12,]  81   72.82287
[13,] 120  108.69102
[14,] 150   53.49613
[15,] 115   52.68299
[16,] 140   96.62249
[17,] 120  124.87524

In [120]:
the_matrix[,1]

 [1] 120 121 125 130 119  88 135  85 118 132 125  81 120 150 115 140 120

In [121]:
mbp = the_matrix[,2]+(1/3)*(the_matrix[,1]-the_matrix[,2])
mbp

 [1]  86.81630 114.43934  81.00955  82.99649  69.65310  73.25185  83.14567
 [8] 108.72595 113.14247  83.81065  97.24146  75.54858 112.46068  85.66409
[15]  73.45533 111.08166 123.25016

In [136]:
new_matrix = cbind(the_matrix,mbp)
unname(new_matrix)

      [,1] [,2]      [,3]
 [1,] 120   70.22444  86.81630
 [2,] 121  111.15901 114.43934
 [3,] 125   59.01433  81.00955
 [4,] 130   59.49473  82.99649
 [5,] 119   44.97965  69.65310
 [6,]  88   65.87777  73.25185
 [7,] 135   57.21850  83.14567
 [8,]  85  120.58892 108.72595
 [9,] 118  110.71370 113.14247
[10,] 132   59.71598  83.81065
[11,] 125   83.36219  97.24146
[12,]  81   72.82287  75.54858
[13,] 120  108.69102 112.46068
[14,] 150   53.49613  85.66409
[15,] 115   52.68299  73.45533
[16,] 140   96.62249 111.08166
[17,] 120  124.87524 123.25016